.DS_Store
Thumbs.db
.idea/
.vscode/
.env
.env.local
node_modules/
vendor/
.tmp/
wordpress/
wp/
wp-config.php
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/*
!wp-content/uploads/.gitignore
wp-content/languages/
wp-content/plugins/*
!wp-content/plugins/.gitkeep
!wp-content/plugins/index.php
!wp-content/plugins/matreshka-master-core/
!wp-content/plugins/matreshka-master-core/**
wp-content/themes/*
!wp-content/themes/matreshka-master/
!wp-content/themes/matreshka-master/**
!wp-content/themes/index.php
docker-data/
*.log
